

#root {
  width: 90%;
  margin: auto;
  align-items: center;
}


h1{
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
  color: rgb(95, 0, 105);
  text-align: center;
}
main {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

.modal-body {
text-align: center;
  align-content: center;

}
.modal-body img {
width: 500px;
}