#root {
  width: 90%;
  margin: auto;
  align-items: center;
}


h1{
  color: rgb(0, 99, 66);
  text-align: center;
}
main {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}
